body{
    background-color: #000015;
}

header{
    position: absolute;
    z-index: 1;
    font-size: 2em;
    color: rgba(93, 151, 255, 1);
}

.hoverinfo{
    text-align:center;
}

#table-container{
    position: absolute;
    z-index: 1;
    top: 55vh;
    display: inline-block;
    background-color: rgba(147, 147, 147, 0.35);
    color: #FFF;
}

#table-info td{
    padding-left: 5px;
    padding-right: 5px;
}

#container{
    position: relative;
    width: 100%;
    height: 95vh;
}

footer{
    font-size: 10px;
    text-align:center;
    color: #ffffff;
}

footer a{
    color: #009EFF;
}